.catalog-additional__title-item {
  margin: 0;
  padding-top: 11px;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    width: 220px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
    margin-bottom: 25px;
    white-space: unset;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__title-item {
    width: 245px;
    margin: 0 81px 0 0;
    white-space: unset;
  }
}

.catalog-additional__container {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    border: 1px solid #ebebeb;
    left: -20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__container::before {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__container::before {
    border: none;
  }
}

.catalog-additional__list {
  padding: 36px 0 0 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 73%;
    margin-right: 0;
    padding-top: 45px;
  }
}

.catalog-additional__item {
  width: 100%;
  border-top: 1px solid #cdcdcd;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__item:not(:first-child) {
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__item {
    display: flex;
    flex-direction: row;
    border-right: none;
    border-left: none;
  }
}

.catalog-additional__item:last-child {
  width: 280px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 0;
  }
}

.catalog-additional__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-top: 25px;

  &::before {
    width: 54px;
    border: 2px solid #68b738;
    position: absolute;
    content: "";
    top: 40px;
    right: -20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__title::after {
    position: absolute;
    content: "";
    width: 30px;
    top: 45px;
    left: -30px;
    border: 2px solid #68b738;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__title::before {
    width: 320px;
    top: 45px;
    right: -30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__title::before {
    width: 952px;
    right: -110px;
    top: 32px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__title::after {
    width: 70px;
    left: -110px;
    top: 32px;
    z-index: -1;
  }
}

.catalog-additional__options {
  display: inline-block;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 13px 0 15px 0;
  width: 138px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 180px;
  }
}

.catalog-additional__options--value {
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 95px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__options--weight {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__options--weight {
    text-align: left;
  }
}

.catalog-additional__button {
  display: block;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
  transition: background-color 0.4s;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__button {
    width: 244px;
    display: block;
  }
}

.catalog-additional__promo {
  background-image: url("../../img/gift-bag-mobile.jpg");
  background-repeat: no-repeat;
  width: 280px;
  margin: 35px 0 35px 0;
  border-top: 1px solid #cdcdcd;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icons/gift.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    top: 60px;
    left: 100px;
    z-index: 2;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gift-bag-mobile@2x.jpg");
    background-size: cover;
  }
}

.catalog-additional__promo::after {
  position: absolute;
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .catalog-additional__promo {
    background-image: url("../../img/gift-bag-tablet.jpg");
    background-repeat: no-repeat;
    width: 707px;
    height: 200px;
    position: relative;
    margin: 65px 0 75px 0;

    &::before {
      top: 58px;
      left: 80px;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__promo {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-bag-tablet@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__promo {
    background-image: url("../../img/gift-bag-desktop.jpg");
    width: 245px;
    height: 288px;
    margin: 30px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__promo {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gift-bag-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__promo::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icons/icon-gift-desktop.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 83px;
    top: 53px;
    left: 85px;
  }
}

.catalog-additional__promo-text {
  color: #ffffff;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 187px 61px 43px 58px;
  z-index: 5;
  position: relative;
}

@media (min-width: $tablet-width) {
  .catalog-additional__promo-text {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    content: "";
    width: 161px;
    padding: 0;
    text-align: left;
    left: 420px;
    top: 70px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__promo-text {
    text-align: center;
    left: 50px;
    top: 185px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-additional__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px 28px 38px;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__item-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0 15px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional__list-wrapper {
    display: flex;
    align-items: center;
    margin-top: 44px;
    justify-content: space-between;
  }
}

.catalog-additional {
  position: relative;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-additional {
    margin-top: 51px;
  }
}
