.container-wrapper {
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 84px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

