.contacts {
  background-color: $basic-white;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 auto;
  }
}

.contacts__location {
  padding: 26px 0 26px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 60px 0 70px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contacts__location {
    position: absolute;
    content: "";
    z-index: 1;
    top: 95px;
    left: 110px;
    width: 565px;
    background-color: $basic-white;
    padding: 60px 80px;
  }
}

.contacts__container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__text {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__address {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    width: 157px;
  }
}

.contacts__street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts__street {
    text-align: left;
  }
}

.contacts__city {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts__city {
    text-align: left;
  }
}

.contacts__map {
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__map-iframe {
  width: 100%;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__map-picture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  content: "";
  object-fit: cover;
  border: none;
}

.contacts__location-background {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;
    display: block;
    max-width: 1440px;
    margin: 0 auto;
  }
}
