.container-wrapper {
  margin-top: 25px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.container-wrapper__catalog {
  position: relative;
  margin-top: 25px;

  &::before {
    width: 54px;
    border: 2px solid #68b738;
    position: absolute;
    content: "";
    top: 40px;
    right: -20px;
  }
}

@media (min-width: $tablet-width) {
  .container-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

// @media (min-width: $desktop-width) {
//   .container-wrapper {
//     display: grid;
//     grid-template-columns: repeat(4, 245px);
//   }
// }
