.features {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $basicwhite;
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .features {
    border-top: none;
    margin-top: 69px;
    max-width: 1440px;
  }
}

.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 110px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 600px;
  }
}

.features__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  text-align: left;
  margin-bottom: 40px;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 60px;
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .features__title {
    padding-top: 0;
    margin-bottom: 146px;
    width: 435px;
    z-index: 5;
  }
}

.features__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    color: #444444;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .features__description {
    width: 430px;
    z-index: 3;
    margin-bottom: 65px;
  }
}

.features__list {
  // margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    gap: 43px;
    align-items: center;
    z-index: 3;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.features__list-stats {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .features__list-stats {
    width: 366px;
  }
}

.features__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 2px solid #cdcdcd;
  border-radius: 3px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    position: relative;
    width: 162px;
  }
}

.features__value {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 11px 40px 18px 40px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: #000000;
    text-align: center;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding: 15px 0 25px 0;
    text-transform: uppercase;
  }
}

.features__value--wrapper {
  padding: 11px 21px 17px 20px;

  @media (min-width: $tablet-width) {
    padding: 15px 0 25px 0;
  }
}

.features__subtitle {
  display: inline-block;
  background-color: #eaeaea;
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  content: "";
  top: 43px;
  width: 77px;
  right: 20px;
}

@media (min-width: $tablet-width) {
  .features__stats--weight .features__subtitle {
    background-color: $basicwhite;
    color: #444444;
    text-align: center;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    content: "";
    top: 70px;
    width: 125px;
    right: 18px;
  }
}


@media (min-width: $tablet-width) {
  .features__stats--days .features__subtitle {
    background-color: $basicwhite;
    color: #444444;
    text-align: center;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    content: "";
    top: 70px;
    width: 135px;
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .features__subtitle {
    background-color: #f2f2f2;
    top: 68px;
  }
}


@media (min-width: $desktop-width) {
  .features__stats--weight .features__subtitle {
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .features__stats--days .features__subtitle {
    background-color: #f2f2f2;
  }
}

.features__caption {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .features__caption {
    display: flex;
    width: 325px;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .features__background {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .features__background {
    height: 462px;
    background-color: #f2f2f2;
    width: 1440px;
  }
}
