.field {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field__text {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
}

.field__text-input {
  height: 45px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 15px 14px;

  &:focus {
    border: 2px solid #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }
}

.field__text-input:invalid {
  border: 2px solid 2px #ff8282;
}

.field__text-input--name {
  width: 228px;
}

.field__text-input--weight {
  width: 207px;
}

.field__text-input--years {
  width: 173px;
}

.field__checked {
  margin: 0;
  vertical-align: middle;
}

.field__mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: sub;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  background-color: #ffffff;

  &:hover {
    border: 1px solid #bababa;
    color: #222222;
  }

  &:disabled {
    border: 1px solid rgba(186, 186, 186, 0.3);
  }
}

.field__text-checked {
  display: inline-block;
  padding-left: 45px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 30px;
  padding-top: 6px;

  &:hover {
    color: #222222;
  }

  &:disabled {
    color: rgba(186, 186, 186, 0.3);
  }
}

.field__checked[type="radio"]:checked + .field__mark::before,
.field__checked[type="radio"]:checked + .field__mark::after {
  background-image: url("../../img/radio-button-active.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 14px;
  content: "";
  top: 7px;
  left: 7px;
}
