.field {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field__text {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
    font-size: 20px;
    line-height: 30px;
    display: block;
  }
}

.field__text-input {
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 0 13px 15px;

  &:hover {
    border: 1px solid #cdcdcd;

    &:focus {
      border: 2px solid #444444;
    }
  }
}

.field__text-input:not(:focus):not(:placeholder-shown):valid {
  border-color: #e7e7e7;
}

@media (min-width: $tablet-width) {
  .field__text-input {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__text-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ff8282;
}

.field__text-input--name {
  width: 228px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.field__text-input--weight {
  width: 207px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.field__text-input--years {
  width: 173px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
