.field-selection {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding: 20px 0 30px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 30px 20px;
  }
}


.field-selection__checked {
  margin: 0;
  vertical-align: middle;
}

.field-selection__mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: sub;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  background-color: #ffffff;
  color: #68b738;

  &:hover {
    border: 1px solid #bababa;
    color: #68b738;
  }

  &:disabled {
    border: 1px solid rgba(186, 186, 186, 0.3);
    color: rgba(186, 186, 186, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .field-selection__mark {
    width: 40px;
    height: 40px;
  }
}

.field-selection__text-checked {
  display: inline-block;
  padding-left: 45px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 30px;
  padding-top: 6px;

  &:hover {
    color: #222222;
  }

  &:disabled {
    color: rgba(186, 186, 186, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .field-selection__text-checked {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
    padding-top: 9px;
  }
}

.field-selection__checked[type="radio"]:checked + .field-selection__mark::before,
.field-selection__checked[type="radio"]:checked + .field-selection__mark::after {
  background-image: url("../../img/radio-button-active.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 14px;
  content: "";
  top: 7px;
  left: 7px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/radiobutton-active-tablet.svg");
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}
