.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    flex-direction: row;
  }
}

.logo__icon {
  display: inline-block;
  margin-right: 56px;
  transition: opacity 0.4s, visibility 0.4s;

  &:hover {
    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) {
  .logo__icon {
    display: inline-block;
    margin-right: 12px;
    transition: opacity 0.4s, visibility 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.logo__icon:active {
  opacity: 0.6;
}

.logo__text {
  transition: opacity 0.4s, visibility 0.4s;
  padding-top: 2px;

  &:hover {
    opacity: 0.8;
  }
}

.logo__text:active {
  opacity: 0.6;
}

.logo__text--footer {
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
