.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .logo {
    display: flex;
    flex-direction: row;
  }
}

.logo__icon {
  display: inline-block;
  margin-right: 56px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .logo__icon {
    display: inline-block;
    margin-right: 12px;
  }
}

.logo__text {
  padding-top: 2px;
  cursor: pointer;
}

.logo__text--footer {
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.logo:hover > .logo__icon {
  opacity: 0.8;
}

.logo:hover > .logo__text {
  opacity: 0.8;
}

.logo:active > .logo__icon {
  opacity: 0.6;
}

.logo:active > .logo__text {
  opacity: 0.6;
}
