.main-selection {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 79px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
