.main-header {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 20px 0 20px;
  width: 100%;
  background-color: $basicwhite;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 0 30px;
    max-width: 768px;
    background-color: $basicwhite;
    border-bottom: none;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0 110px;
    position: absolute;
    content: "";
    z-index: 10;
    background: none;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    right: 0;
    left: 0;
  }
}
