.main-navigation {
  background-color: #ffffff;
  z-index: 10;
  flex-shrink: 1;

  @media (min-width: $tablet-width) {
    display: block;
    flex-shrink: 1;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    flex-shrink: 1;
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--nojs {
    width: 100%;
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--nojs .main-navigation__toggle {
    background-image: url("../../img/icons/button-close-menu.svg");
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper-close {
  display: block;
  width: 100%;
}

.main-navigation__wrapper-close {
  display: none;
}

.main-navigation__toggle {
  background-image: url("../../img/icons/button-open-menu.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation-opened .main-navigation__toggle::before {
  background-image: url("../../img/icons/button-close-menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  content: "";
  top: 20px;
  right: 21px;
  border: none;
  background-size: contain;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation-opened.main-navigation__toggle:active::before {
  background-color: fade(#ffffff, 30%);
}

.main-navigation-opened .main-navigation__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  margin: 0;
  content: "";
  right: 0;
  top: 100%;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

@media (max-width: 767px) {
  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-navigation--nojs .main-navigation__wrapper {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .main-navigation--nojs .main-navigation__list {
    display: block;
    position: static;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__wrapper {
    display: contents;
  }
}

.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: none;
    width: 490px;
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__list {
    width: 715px;
    display: flex;
    justify-content: flex-end;
  }
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
    padding-right: 34px;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    text-decoration: none;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 6px;
    position: relative;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    display: block;
    max-width: 170px;
  }
}

@media (min-width: $mobile-width-only) {
  .main-navigation__link:hover {
    color: rgb(0, 0, 0, 0.6);
  }
}

@media (min-width: $mobile-width-only) {
  .main-navigation__link:active {
    color: rgb(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__link:hover {
    color: rgb(0, 0, 0, 0.4);
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__link:active {
    color: rgb(0, 0, 0);
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link:hover {
    color: rgb(255, 255, 255, 0.4);
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link:active {
    color: rgb(255, 255, 255);
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__item:last-child {
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__link--current::before {
    position: absolute;
    bottom: -6px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__link--current-catalog::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link--current-catalog::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__link--current-programm::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link--current-programm::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__item .main-navigation__link--current::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__item:hover .main-navigation__link--current::before {
    background-color: rgb(255, 255, 255, 0.4);
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__item:active .main-navigation__link--current::before {
    background-color: rgb(255, 255, 255);
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link-text {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link-text:hover {
    color: rgb(0, 0, 0, 0.4);
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link-text:active {
    color: rgb(0, 0, 0);
  }
}
