.main-footer {
  background-color: #ffffff;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  padding: 0 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 11px;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 66px 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main-footer__logo {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-footer__copyright {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
