.main-selection {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-selection {
    padding-left: 110px;
    padding-right: 110px;
  }
}
