.main-header {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 21px 11px 20px;
  background-color: $basic-white;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 27px 30px 0 30px;
    max-width: 768px;
    background-color: $basic-white;
    border-bottom: none;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0 110px;
    position: absolute;
    content: "";
    z-index: 10;
    background: none;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    right: 0;
    left: 0;
  }
}
