.main-navigation {
  background-color: #ffffff;
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    min-width: 436px;
  }
}

.main-navigation__toggle {
  background-image: url("../../img/icons/button-open-menu.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__toggle-close {
  background-image: url("../../img/icons/button-close-menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  content: "";
  top: -30px;
  right: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__toggle--close {
    border: 0;
    color: none;
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__toggle--close {
    border: 0;
    color: none;
    display: none;
  }
}

.main-navigation--opened .main-navigation__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  margin: 0;
  content: "";
  right: -20px;
  top: 35px;
  padding-top: 15px;
  width: 320px;
  z-index: 2;
}

.main-navigation__wrapper-close {
  display: none;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
    padding-right: 33px;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-decoration: none;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 9px;
    position: relative;

    @media (min-width: $desktop-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__item:last-child {
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__link--current::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link--current::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: $basicwhite;
    content: "";
    width: 100%;
  }
}
