.main-inner {
  padding: 27px 20px 0 20px;
  flex-grow: 1;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 0 30px;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-inner {
    padding-left: 110px;
    padding-right: 110px;
    width: 100%;
    padding-bottom: 87px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main-inner__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .main-inner__title {
    margin-top: 150px;
    margin-bottom: 84px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item--substrate {
    width: 20%;
  }
}
