.main-footer {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    margin: 0 auto;
  }
}

.main-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  flex-wrap: wrap;
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 66px 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main-footer__logo {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-footer__copyright {
  margin-top: 10px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.main-footer__container {
  background-color: #f2f2f2;
}
