.selection {
  background-image: url("../../img/background-cat-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  padding-bottom: 20px;
  background-position: 50% 0;
  position: relative;
  z-index: 5;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/background-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 711px 694px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-resolution: 2dppx) {
  .selection {
    background-image: url("../../img/background-cat-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .selection {
    @media (min-resolution: 2dppx) {
      background-image: none;
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .selection {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-cat-desktop@2x.jpg");
    }
  }
}

.selection::after {
  width: 100%;
  height: 302px;
  display: block;
  position: absolute;
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
  right: 0;
  top: 0;
}

@media (min-width: $tablet-width) {
  .selection::after {
    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .selection::after {
    content: "";
    width: 50vw;
    height: 694px;
    display: block;
    position: absolute;
    background-color: rgba(104, 183, 56, 0.85);
    right: 0;
  }
}

.selection__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 768px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .selection__wrapper {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.selection__description {
  color: $basic-white;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 25px 0;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin: 0;
    width: 550px;
    padding: 60px 0 40px 89px;
  }
}

@media (min-width: $desktop-width) {
  .selection__description {
    padding: 225px 0 40px 26px;
    width: 550px;
  }
}

.selection__slogan {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 27px 0 24px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    padding-left: 90px;
    padding-right: 0;
    margin-bottom: 23px;
  }
}

@media (min-width: $desktop-width) {
  .selection__slogan {
    padding-left: 30px;
  }
}

.selection__main-button {
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  text-decoration: none;
  width: 280px;
  padding: 10px 44px;
  transition: background-color 0.4s;

  &:hover {
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .selection__main-button {
    position: absolute;
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    top: 290px;
  }
}

@media (min-width: $desktop-width) {
  .selection__main-button {
    position: static;
    margin-top: 28px;
  }
}

@media (min-width: $tablet-width) {
  .selection__link-wrapper {
    padding-left: 90px;
  }
}

@media (min-width: $desktop-width) {
  .selection__link-wrapper {
    padding-left: 30px;
  }
}

.selection__main-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.selection__catalog {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .selection__catalog {
    display: flex;
    margin-top: 265px;
    width: 1220px;
  }
}

.selection__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 0 80px;
    flex-wrap: wrap;
  }
}

.selection__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.selection__item {
  background-color: $basic-grey;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 21px;

  @media (min-width: $tablet-width) {
    padding: 77px 60px 62px 52px;
    margin-bottom: 27px;
  }
}

.selection__title-slim,
.selection__title-weight {
  background-color: #68b738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: $tablet-width) {
  .selection__title-slim {
    position: absolute;
    content: "";
    top: 10px;
    right: 2px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .selection__title-slim {
    position: relative;
    content: "";
    top: 8px;
    right: 0;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .selection__title-weight {
    position: absolute;
    content: "";
    top: 10px;
    right: 2px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .selection__title-weight {
    position: relative;
    content: "";
    top: 8px;
    right: 0;
    margin-left: 0;
    margin-top: 0;
  }
}

.selection__picture-slim {
  position: absolute;
  left: 5px;
  bottom: 2px;
  content: "";

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    left: 30px;
    bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 15px;
    bottom: 9px;
  }
}

.selection__picture-weight {
  position: absolute;
  content: "";
  left: -9px;
  bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    left: -35px;
    bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    left: -17px;
    bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .selection__item {
    width: 570px;
    padding-top: 41px;
    padding-bottom: 55px;
    margin-bottom: 0;
  }
}

.selection__item:last-child {
  margin: 0;
}

.selection__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 12px;
  width: calc(100% - 70px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 8px;
    width: calc(100% - 223px);

    @media (min-width: $desktop-width) {
      text-align: left;
      padding: 10px 0 0 0;
      width: calc(100% - 162px);
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .selection__title-weight {
    padding-left: 70px;
  }
}

.selection__text {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 17px;
  margin-bottom: 0;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
    padding-bottom: 40px;
    width: 340px;
    border: 0;
  }
}

@media (min-width: $tablet-width) {
  .selection__text--pro {
    margin-top: 10px;
    width: calc(100% - 253px);
  }
}

@media (min-width: $desktop-width) {
  .selection__text {
    padding-bottom: 18px;
    width: 100%;
    margin-top: 45px;
  }
}

@media (min-width: $tablet-width) {
  .selection__programm-foot {
    width: calc(100% - 223px);
  }
}

.selection__link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: #000000;
  }
}

.selection__subtitle {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  padding-right: 14px;
  margin-top: 19px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 12px;
    padding-right: 25px;
  }
}

.selection__arrow {
  margin-top: 19px;
  transition: transform 0.4s;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }
}

.selection__arrow:hover {
  transform: translateX(5px) scaleX(1.2);
}

.selection__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .selection__link {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .selection__head-block {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .selection__head-block {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .selection__picture {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .selection__picture {
    position: absolute;
    content: "";
    width: 552px;
    height: 499px;
    right: 332px;
    top: 143px;
  }
}
