@media (min-width: $tablet-width) {
  .selection-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .selection-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.selection-container__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 190px;
  }
}

.selection-container__text {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;
  text-align: left;
  padding-right: 7px;

  @media (min-width: $tablet-width) {
    width: 333px;
    margin-top: 48px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.selection-container__data {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__data {
    width: 46%;
  }
}

.selection-container__data-selection {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 18px;
  padding-bottom: 19px;
  position: relative;

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__data-selection {
    width: 46%;
  }
}

.selection-container__contacts {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 26px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .selection-container__contacts {
    margin-top: 72px;
  }
}

@media (min-width: $tablet-width) {
  .selection-container__contacts::before {
    width: 146px;
    top: 20px;
    right: -70px;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__contacts::before {
    width: 810px;
    top: 20px;
    right: -120px;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__contacts {
    display: flex;
    width: 100%;
    margin-top: 0;
  }
}

.selection-container__title-line {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.selection-container__title-line--contacts::before {
  width: 93px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 15px;
  right: -20px;

  @media (min-width: $tablet-width) {
    width: 146px;
    top: 20px;
    right: -70px;
  }

  @media (min-width: $desktop-width) {
    width: 778px;
    top: 20px;
    right: -110px;
  }
}

.selection-container__title-line--comments::before {
  width: 159px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 15px;
  right: -20px;


  @media (min-width: $tablet-width) {
    width: 476px;
    top: 20px;
    right: -70px;
  }

  @media (min-width: $desktop-width) {
    width: 1108px;
    top: 20px;
    right: -110px;
  }
}


.selection-container__title-line--additionally::before {
  width: 139px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 15px;
  right: -20px;

  @media (min-width: $tablet-width) {
    width: 446px;
    top: 20px;
    right: -70px;
  }

  @media (min-width: $desktop-width) {
    width: 1078px;
    top: 20px;
    right: -110px;
  }
}

@media (min-width: $tablet-width) {
  .selection-container__title-line::after {
    position: absolute;
    content: "";
    width: 30px;
    top: 20px;
    left: -70px;
    border: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__title-line::after {
    width: 70px;
    top: 20px;
    left: -110px;
  }
}

.selection-container__form-type {
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 46%;
  }
}

.selection-container__form-type-contacts {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.selection-container__form-type-text {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
  }
}

.selection-container__form-type-input {
  padding: 14px 13px 15px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  width: 217px;

  &:focus {
    border: 2px solid #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .selection-container__form-type-input {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 11px 0 11px 20px;
  }
}

.selection-container__form-type-input:not(:focus):not(:placeholder-shown):valid {
  border-color: #cdcdcd;
}

.selection-container__form-type-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ff8282;
}


.selection-container__form-type-input:not(:focus):not(:placeholder-shown):invalid + .selection-container__image-box {
  color: #ff8282;
}

.selection-container__form-type-input:not(:focus):not(:placeholder-shown):invalid + .selection-container__image-connection {
  color: #ff8282;
}


.selection-container__image-box,
.selection-container__image-connection {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 10px;
}

.selection-container__form-type-input:focus + .selection-container__image-box {
  color: #68b738;
}

.selection-container__form-type-input:focus + .selection-container__image-connection {
  color: #68b738;
}


.selection-container__tel {
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-container__information {
  margin-top: 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.selection-container__form-textarea {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 20px 0 0 15px;
  margin: 0;
  resize: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $tablet-width) {
  .selection-container__form-textarea {
    font-size: 20px;
    line-height: 30px;
    padding: 15px 0 0 20px;
    height: 175px;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__form-textarea {
    margin-top: 75px;
  }
}

.selection-container__block-add {
  margin: 12px 0 0;
  border: none;
  position: relative;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 68px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.selection-container__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 32px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 48px 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 60px 0 0 0;
  }
}

.selection-container__submit {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 44px;
  transition: background-color 0.4s;
  cursor: pointer;
  width: 280px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .selection-container__submit {
    margin-right: 60px;
    width: 284px;
    padding: 14px 65px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__submit {
    width: 570px;
    margin-right: 80px;
  }
}

.selection-container__legend {
  color: #000000;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 16px;
  }
}

.selection-container__background {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: $basicwhite;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .selection-container__form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
  }
}
