.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 20px 40px 20px;

  @media (min-width: $tablet-width) {
    margin-top: 99px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0 104px 101px 104px;
  }

  @media (min-width: $desktop-width) {
    width: 590px;
    margin-left: auto;
    margin-top: 0;
    height: 512px;
    padding: 0 0 0 224px;
  }
}

.slider__picture {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__image--fat {
  clip-path: polygon(4.17% 3.87%, 49.32% 3.25%, 50% 99.07%, 2.49% 96.49%);


  @media (min-width: $tablet-width) {
    clip-path: polygon(20% 0%, 49.64% 3.18%, 50.25% 100%, 0% 100%);
  }
}

.slider__image--slim {
  clip-path: polygon(50.22% 0%, 93.8% 1.65%, 96.71% 98.33%, 50.67% 99.8%);

  @media (min-width: $tablet-width) {
    clip-path: polygon(50.25% 2.44%, 80% 0%, 100% 100%, 50.64% 100%);
  }
}

.slider__picture--after {
  position: absolute;
  content: "";
}

.slider::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;
  left: 158px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 512px;
    left: 352px;

    @media (min-width: $desktop-width) {
      left: 405px;
    }
  }
}

.slider:hover::before {
  background-color: #68b738;
}

.slider:active::before {
  background-color: #5eaa2f;
}
