.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 23px 0 17px 0;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    padding: 0;
    border: 0;
  }
}

.social__link {
  color: #666666;
}

.social__link:hover {
  stroke: #68b738;
}

.social__link:focus {
  stroke: #68b738;
}

.social__link:active {
  stroke: #68b738;
  opacity: 0.3;
}
