@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
.page {
  height: 100%;
}

.page__body {
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  padding: 13px 20px 0 20px;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 0 30px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 55px 110px 0 110px;
  }
}

.main-navigation {
  background-color: #ffffff;
  position: relative;
}

@media (min-width: 768px) {
  .main-navigation {
    min-width: 436px;
  }
}
.main-navigation__toggle {
  background-image: url("../../img/icons/button-open-menu.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding: 0;
}
@media (min-width: 768px) {
  .main-navigation__toggle {
    display: none;
  }
}

.main-navigation__toggle-close {
  background-image: url("../../img/icons/button-close-menu.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  content: "";
  top: -30px;
  right: 20px;
  border: none;
}
@media (min-width: 768px) {
  .main-navigation__toggle-close {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-navigation__toggle--close {
    border: 0;
    color: none;
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-navigation__toggle--close {
    border: 0;
    color: none;
    display: none;
  }
}
.main-navigation--opened .main-navigation__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  margin: 0;
  content: "";
  right: -20px;
  top: 35px;
  padding-top: 15px;
  width: 320px;
  z-index: 2;
}

.main-navigation__wrapper-close {
  display: none;
}
@media (min-width: 768px) {
  .main-navigation__wrapper-close {
    display: contents;
  }
}

.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main-navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .main-navigation__item {
    padding: 0;
    border-top: none;
    padding-right: 33px;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-navigation__link {
    text-decoration: none;
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 9px;
    position: relative;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-navigation__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .main-navigation__item:last-child {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .main-navigation__link--current::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #68b738;
    content: "";
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .main-navigation__link--current::before {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    width: 100%;
  }
}
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    flex-direction: row;
  }
}
.logo__icon {
  display: inline-block;
  margin-right: 56px;
  transition: opacity 0.4s, visibility 0.4s;
}
.logo__icon:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .logo__icon {
    display: inline-block;
    margin-right: 16px;
    transition: opacity 0.4s, visibility 0.4s;
  }
  .logo__icon:hover {
    opacity: 0.8;
  }
}
.logo__icon:active {
  opacity: 0.6;
}

.logo__text {
  transition: opacity 0.4s;
}
.logo__text:hover {
  opacity: 0.8;
}

.logo__text:active {
  opacity: 0.6;
}

.main-container {
  background-color: #ffffff;
  flex-grow: 1;
}
@media (min-width: 1440px) {
  .main-container {
    position: relative;
  }
}

.selection {
  background-image: url("../../img/background-blur-cat.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .selection {
    background-image: none;
    padding-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .selection {
    background-image: url("../../img/background-blur-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-position: calc(100% + 70px) 0;
    background-size: 720px 694px;
    padding-bottom: 0;
  }
}

.selection__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .selection__wrapper {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .selection__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.selection__description {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 25px 0;
}
@media (min-width: 768px) {
  .selection__description {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    margin: 0;
    width: 550px;
    padding: 65px 0 40px 90px;
  }
}

@media (min-width: 1440px) {
  .selection__description {
    padding: 110px 0 40px 0;
    width: 550px;
  }
}
.selection__slogan {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 20px 0 20px;
}
@media (min-width: 768px) {
  .selection__slogan {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    padding-left: 90px;
    margin-bottom: 21px;
  }
}

@media (min-width: 1440px) {
  .selection__slogan {
    padding-left: 0;
  }
}
.selection__main-button {
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #68b738;
  text-decoration: none;
  width: 280px;
  padding: 10px 44px;
  transition: background-color 0.4s;
}
.selection__main-button:hover {
  background-color: #5eaa2f;
}

@media (min-width: 768px) {
  .selection__main-button {
    width: 244px;
    padding: 14px 26px;
    position: absolute;
    content: "";
    bottom: 530px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .selection__main-button {
    right: 925px;
  }
}
@media (min-width: 768px) {
  .selection__main-button--wrapper {
    padding-left: 90px;
  }
}
.selection__main-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.selection__catalog {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .selection__catalog {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .selection__catalog {
    display: flex;
    margin-top: 82px;
  }
}
.selection__list {
  margin: 0;
  padding: 0;
}
@media (min-width: 1440px) {
  .selection__list {
    display: flex;
    justify-content: space-between;
  }
}

.selection__item {
  background-color: #f2f2f2;
  list-style-type: none;
  margin-bottom: 20px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .selection__item {
    padding-bottom: 57px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .selection__item {
    width: 48%;
    padding-bottom: 55px;
    margin-bottom: 0;
  }
}
.selection__item:last-child {
  margin: 0;
}

.selection__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 0 90px;
  position: relative;
}
@media (min-width: 768px) {
  .selection__title {
    font-size: 36px;
    line-height: 36px;
    padding: 77px 0 24px 53px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .selection__title {
    text-align: center;
    padding: 77px 0 73px 0;
  }
}

.selection__title--slim::before {
  background-image: url("../../img/cat-black-slim.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  position: absolute;
  content: "";
  left: 20px;
  bottom: -6px;
}
@media (min-width: 768px) {
  .selection__title--slim::before {
    background-image: url("../../img/cat-catalog-slim.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    position: absolute;
    content: "";
    left: 445px;
    bottom: -175px;
  }
}

@media (min-width: 1440px) {
  .selection__title--slim::before {
    background-image: url("../../img/catblack-slim-desktop.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 106px;
    position: absolute;
    content: "";
    left: 50px;
    bottom: 40px;
  }
}
.selection__title--weight::before {
  background-image: url("../../img/cat-black-weight.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  position: absolute;
  content: "";
  left: 10px;
  bottom: -6px;
}
@media (min-width: 768px) {
  .selection__title--weight::before {
    background-image: url("../../img/cat-catalog-pro.svg");
    background-repeat: no-repeat;
    width: 268px;
    height: 200px;
    position: absolute;
    content: "";
    left: 411px;
    bottom: -175px;
  }
}

@media (min-width: 1440px) {
  .selection__title--weight::before {
    background-image: url("../../img/catblack-pro-desktop.svg");
    background-repeat: no-repeat;
    width: 134px;
    height: 100px;
    position: absolute;
    content: "";
    left: 30px;
    bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .selection__title--weight {
    padding-left: 40px;
  }
}
.selection__text {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 29px 33px 38px 20px;
  position: relative;
}
@media (min-width: 768px) {
  .selection__text {
    color: #000000;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 24px 316px 52px 52px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .selection__text {
    padding: 0 61px 23px 52px;
  }
}
.selection__text::before {
  position: absolute;
  content: "";
  bottom: 20px;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .selection__text::before {
    position: static;
  }
}

.selection__link {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 20px;
  position: relative;
}
.selection__link:hover {
  color: #000000;
}

.selection__link:active {
  opacity: 0.3;
}

.selection__link::after {
  background-image: url("../../img/icons/arrow-catalog-slim.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 12px;
  position: absolute;
  content: "";
  right: -45px;
  top: 7px;
}
@media (min-width: 768px) {
  .selection__link::after {
    background-image: url("../../img/icons/arrow-catalog-slim.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 12px;
    position: absolute;
    content: "";
    right: -56px;
    top: 9px;
  }
}

@media (min-width: 768px) {
  .selection__link {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 53px;
    position: relative;
  }
}
@media (min-width: 768px) {
  .selection__head-block {
    position: relative;
  }
}
@media (min-width: 1440px) {
  .selection__head-block {
    padding-left: 50px;
  }
}
.advantages {
  background-color: #ffffff;
  padding-bottom: 49px;
}
@media (min-width: 1440px) {
  .advantages {
    margin-top: 71px;
    padding-bottom: 0;
  }
}

.advantages__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .advantages__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.advantages__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  text-align: left;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 247px 249px;
    margin: 0;
    padding: 0;
    gap: 77px 153px;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .advantages__list {
    display: flex;
    gap: 94px 0;
    justify-content: space-between;
  }
}
.advantages__item {
  display: flex;
  list-style-type: none;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
    list-style-type: none;
    padding-bottom: 57px;
    flex-direction: column;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .advantages__item {
    display: flex;
    width: 245px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 57px;
  }
}
@media (min-width: 768px) {
  .advantages__item--1 {
    background-image: url("../../img/advant-item-1.svg");
    background-repeat: no-repeat;
    background-size: 70px 221px;
    background-position: 127px 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--2 {
    background-image: url("../../img/advant-item-2.svg");
    background-repeat: no-repeat;
    background-size: 112px 221px;
    background-position: 127px 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--3 {
    background-image: url("../../img/advant-item-3.svg");
    background-repeat: no-repeat;
    background-size: 111px 221px;
    background-position: 127px 0;
  }
}
@media (min-width: 768px) {
  .advantages__item--4 {
    background-image: url("../../img/advant-item-4.svg");
    background-repeat: no-repeat;
    background-size: 120px 221px;
    background-position: 127px 0;
  }
}
@media (min-width: 1440px) {
  .advantages__picture {
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}
.advantages__item:last-child {
  padding: 0;
}

.advantages__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .advantages__description {
    color: #444444;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding-left: 0;
    padding-top: 31px;
  }
}

@media (min-width: 1440px) {
  .advantages__description {
    padding-top: 0;
  }
}
.features {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .features {
    position: relative;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: 1440px) {
  .features {
    border-top: none;
    margin-top: 69px;
  }
}
.features__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .features__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .features__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 110px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 600px;
  }
}
.features__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  text-align: left;
  margin-bottom: 40px;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .features__title {
    color: #000000;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 60px;
    padding-top: 45px;
  }
}

@media (min-width: 1440px) {
  .features__title {
    padding-top: 0;
    margin-bottom: 146px;
  }
}
.features__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .features__description {
    color: #444444;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

@media (min-width: 1440px) {
  .features__description {
    width: 435px;
    z-index: 3;
  }
}
.features__list {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    gap: 43px;
    align-items: center;
    z-index: 3;
  }
}

@media (min-width: 1440px) {
  .features__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.features__list-stats {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .features__list-stats {
    width: 366px;
  }
}
.features__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 2px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}
@media (min-width: 768px) {
  .features__stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    position: relative;
    width: 162px;
  }
}

.features__value {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 14px 40px 18px 40px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .features__value {
    color: #000000;
    text-align: center;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding: 15px 0 25px 0;
    text-transform: uppercase;
  }
}

.features__value--wrapper {
  padding: 14px 21px 17px 20px;
}
@media (min-width: 768px) {
  .features__value--wrapper {
    padding: 15px 0 25px 0;
  }
}

.features__subtitle {
  display: inline-block;
  background-color: #eaeaea;
  color: #444444;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  content: "";
  top: 48px;
  width: 77px;
  right: 20px;
}
@media (min-width: 768px) {
  .features__subtitle {
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    content: "";
    top: 70px;
    width: 125px;
    right: 18px;
  }
}

@media (min-width: 1440px) {
  .features__subtitle {
    background-color: #f2f2f2;
    top: 68px;
  }
}
.features__caption {
  color: #000000;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .features__caption {
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    width: 180px;
  }
}

@media (min-width: 1440px) {
  .features__caption {
    display: flex;
    width: 325px;
    justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .features__background {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .features__background {
    height: 462px;
    background-color: #f2f2f2;
  }
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 20px 40px 20px;
}
@media (min-width: 768px) {
  .slider {
    margin-top: 99px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0 104px 101px 104px;
  }
}
@media (min-width: 1440px) {
  .slider {
    width: 590px;
    margin-left: auto;
    margin-top: 0;
    height: 512px;
    padding: 0 0 0 224px;
  }
}

.slider__picture {
  width: 140px;
}
@media (min-width: 768px) {
  .slider__picture {
    width: 560px;
  }
}

.slider__image--fat {
  -webkit-clip-path: polygon(4.17% 3.87%, 49.32% 3.25%, 50% 99.07%, 2.49% 96.49%);
          clip-path: polygon(4.17% 3.87%, 49.32% 3.25%, 50% 99.07%, 2.49% 96.49%);
}
@media (min-width: 768px) {
  .slider__image--fat {
    -webkit-clip-path: polygon(20% 0%, 49.64% 3.18%, 50.25% 100%, 0% 100%);
            clip-path: polygon(20% 0%, 49.64% 3.18%, 50.25% 100%, 0% 100%);
  }
}

.slider__image--slim {
  -webkit-clip-path: polygon(50.22% 0%, 93.8% 1.65%, 96.71% 98.33%, 50.67% 99.8%);
          clip-path: polygon(50.22% 0%, 93.8% 1.65%, 96.71% 98.33%, 50.67% 99.8%);
}
@media (min-width: 768px) {
  .slider__image--slim {
    -webkit-clip-path: polygon(50.25% 2.44%, 80% 0%, 100% 100%, 50.64% 100%);
            clip-path: polygon(50.25% 2.44%, 80% 0%, 100% 100%, 50.64% 100%);
  }
}

.slider__picture--after {
  position: absolute;
  content: "";
}

.slider::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: #666666;
  left: 158px;
  z-index: 1;
}
@media (min-width: 768px) {
  .slider::before {
    height: 512px;
    left: 352px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .slider::before {
    left: 405px;
  }
}

.slider:hover::before {
  background-color: #68b738;
}

.slider:active::before {
  background-color: #5eaa2f;
}

.contacts {
  background-color: #ffffff;
}
@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }
}

.contacts__location {
  padding: 26px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .contacts__location {
    padding: 60px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .contacts__location {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 40px;
    width: 565px;
    background-color: #ffffff;
    padding: 60px 80px;
  }
}
.contacts__text {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.contacts__address {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    text-align: right;
    width: 157px;
  }
}

.contacts__street {
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__street {
    margin-bottom: 19px;
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .contacts__street {
    text-align: left;
  }
}
.contacts__city {
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__city {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .contacts__city {
    text-align: left;
  }
}
.contacts__map {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .contacts__map {
    width: 100%;
  }
}

.contacts__map iframe {
  border: none;
  display: block;
}

.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  padding: 40px 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 55px 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 66px 110px;
  }
}
.main-footer__logo::before {
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  content: "";
  top: 85px;
}
@media (min-width: 768px) {
  .main-footer__logo::before {
    width: 0;
    height: 0;
  }
}

.main-footer__social::before {
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  content: "";
  top: 155px;
}
@media (min-width: 768px) {
  .main-footer__social::before {
    width: 0;
    height: 0;
  }
}

.social__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  gap: 24px;
}

.social__link:focus:hover {
  opacity: 0.8;
}

.social__link:active {
  opacity: 0.3;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
}

.copyright__link:focus .copyright__image {
  color: #68b738;
}

.copyright__link:hover .copyright__image {
  color: #68b738;
}

.copyright__link:active .copyright__image {
  color: rgba(104, 183, 56, 0.3);
}

.copyright__text {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.copyright__text:focus:hover {
  color: #444444;
}
.copyright__text:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .copyright__text {
    margin-right: 23px;
  }
}
.main-selection {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .main-selection {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .main-selection {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 79px;
  }
}

@media (min-width: 768px) {
  .selection-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1440px) {
  .selection-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.selection-container__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .selection-container__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .selection-container__title {
    margin-top: 74px;
  }
}

.selection-container__text {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 39px;
  text-align: left;
}
@media (min-width: 768px) {
  .selection-container__text {
    width: 323px;
    margin-top: 54px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .selection-container__text {
    margin-top: 55px;
  }
}

.selection-container__data {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .selection-container__data {
    padding-bottom: 72px;
  }
}

@media (min-width: 1440px) {
  .selection-container__data {
    width: 46%;
  }
}
.selection-container__data-selection {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 22px;
  padding-bottom: 19px;
  position: relative;
}
@media (min-width: 768px) {
  .selection-container__data-selection {
    border: 1px solid #e7e7e7;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .selection-container__data-selection {
    width: 46%;
  }
}
.selection-container__contacts {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 26px;
  position: relative;
}
.selection-container__contacts::before {
  width: 93px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 15px;
  right: -20px;
}

@media (min-width: 768px) {
  .selection-container__contacts::after {
    position: absolute;
    content: "";
    width: 30px;
    top: 20px;
    right: 670px;
    border: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .selection-container__contacts::after {
    width: 70px;
    top: 20px;
    right: 1340px;
  }
}
@media (min-width: 768px) {
  .selection-container__contacts::before {
    width: 146px;
    top: 20px;
    right: -70px;
  }
}
@media (min-width: 1440px) {
  .selection-container__contacts::before {
    width: 810px;
    top: 20px;
    right: -120px;
  }
}
@media (min-width: 1440px) {
  .selection-container__contacts {
    display: flex;
    width: 100%;
  }
}
.selection-container__title-line {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .selection-container__title-line {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .selection-container__title-line {
    margin: 0;
  }
}

.selection-container__form-type {
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (min-width: 1440px) {
  .selection-container__form-type {
    display: flex;
    width: 46%;
  }
}

.selection-container__form-type-contacts {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .selection-container__form-type-contacts {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .selection-container__form-type-contacts {
    margin-bottom: 0;
  }
}

.selection-container__form-type-text {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .selection-container__form-type-text {
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
  }
}

.selection-container__form-type-input {
  padding: 14px 13px 15px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  width: 217px;
}
.selection-container__form-type-input:focus {
  border: 2px solid #444444;
}
.selection-container__form-type-input:hover {
  border: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .selection-container__form-type-input {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 11px 0 11px 20px;
  }
}
.selection-container__form-type-input:invalid {
  border: 2px solid #ff8282;
}

.selection-container__image-box,
.selection-container__image-connection {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: 10px;
}
.selection-container__image-box:focus,
.selection-container__image-connection:focus {
  stroke: #68b738;
}

.selection-container__image-box,
.selection-container__image-connection:invalid {
  stroke: #ff8282;
}

.selection-container__tel {
  width: 200px;
}
@media (min-width: 768px) {
  .selection-container__tel {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-container__information {
  margin-top: 24px;
  position: relative;
}
@media (min-width: 768px) {
  .selection-container__information {
    margin-top: 65px;
  }
}
@media (min-width: 1440px) {
  .selection-container__information {
    width: 100%;
  }
}

.selection-container__information::before {
  width: 159px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 15px;
  right: -20px;
}
@media (min-width: 768px) {
  .selection-container__information::before {
    width: 476px;
    top: 20px;
    right: -70px;
  }
}

@media (min-width: 1440px) {
  .selection-container__information::before {
    width: 1170px;
    top: 20px;
    right: -120px;
  }
}
@media (min-width: 768px) {
  .selection-container__information::after {
    position: absolute;
    content: "";
    width: 30px;
    top: 20px;
    right: 670px;
    border: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .selection-container__information::after {
    width: 70px;
    top: 20px;
    right: 1340px;
  }
}
.selection-container__form-textarea {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 14px 0 0 15px;
  margin: 0;
  resize: none;
}
.selection-container__form-textarea:hover {
  border: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .selection-container__form-textarea {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 0 0 20px;
  }
}
@media (min-width: 1440px) {
  .selection-container__form-textarea {
    margin-top: 78px;
  }
}
.selection-container__block-add {
  margin: 23px 0 0;
  border: none;
  position: relative;
  padding: 0;
}
@media (min-width: 768px) {
  .selection-container__block-add {
    margin: 65px 0 0;
  }
}
@media (min-width: 1440px) {
  .selection-container__block-add {
    width: 100%;
  }
}

.selection-container__block-add::before {
  width: 139px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 20px;
  right: -20px;
}
@media (min-width: 768px) {
  .selection-container__block-add::before {
    width: 446px;
    top: 20px;
    right: -70px;
  }
}
@media (min-width: 1440px) {
  .selection-container__block-add::before {
    width: 1120px;
    top: 20px;
    right: -120px;
  }
}

@media (min-width: 768px) {
  .selection-container__block-add::after {
    position: absolute;
    content: "";
    width: 30px;
    top: 20px;
    right: 670px;
    border: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .selection-container__block-add::after {
    width: 70px;
    top: 20px;
    right: 1340px;
  }
}
.selection-container__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 34px 0 32px 0;
}
@media (min-width: 768px) {
  .selection-container__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 52px 0 60px 0;
  }
}
@media (min-width: 1440px) {
  .selection-container__button {
    margin: 52px 0 0 0;
  }
}

.selection-container__submit {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 44px;
  transition: background-color 0.4s;
  cursor: pointer;
}
.selection-container__submit:hover {
  background-color: #5eaa2f;
}
.selection-container__submit:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .selection-container__submit {
    margin-right: 60px;
    width: 284px;
    padding: 14px 65px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1440px) {
  .selection-container__submit {
    width: 570px;
    margin-right: 80px;
  }
}
.selection-container__legend {
  color: #000000;
  text-align: center;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-top: 21px;
}
@media (min-width: 768px) {
  .selection-container__legend {
    padding-top: 0;
    font-size: 16px;
  }
}

.selection-container__background {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .selection-container__background {
    background-color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .selection-container__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  .selection-container__form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 76px;
  }
}
.field {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field__text {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .field__text {
    margin-right: 13px;
    font-size: 20px;
    line-height: 30px;
  }
}

.field__text-input {
  height: 45px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 15px 14px;
}
.field__text-input:focus {
  border: 2px solid #444444;
}
.field__text-input:hover {
  border: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .field__text-input {
    font-size: 20px;
    line-height: 30px;
  }
}
.field__text-input:invalid {
  border: 2px solid #ff8282;
}

.field__text-input--name {
  width: 228px;
}
@media (min-width: 768px) {
  .field__text-input--name {
    width: 100%;
  }
}

.field__text-input--weight {
  width: 207px;
}
@media (min-width: 768px) {
  .field__text-input--weight {
    width: 100%;
  }
}

.field__text-input--years {
  width: 173px;
}
@media (min-width: 768px) {
  .field__text-input--years {
    width: 100%;
  }
}

.field__checked {
  margin: 0;
  vertical-align: middle;
}

.field__mark {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: sub;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  background-color: #ffffff;
}
.field__mark:hover {
  border: 1px solid #bababa;
  color: #222222;
}
.field__mark:disabled {
  border: 1px solid rgba(186, 186, 186, 0.3);
}

@media (min-width: 768px) {
  .field__mark {
    width: 40px;
    height: 40px;
  }
}
.field__text-checked {
  display: inline-block;
  padding-left: 45px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  height: 30px;
  padding-top: 6px;
}
.field__text-checked:hover {
  color: #222222;
}
.field__text-checked:disabled {
  color: rgba(186, 186, 186, 0.3);
}

@media (min-width: 768px) {
  .field__text-checked {
    font-size: 20px;
    line-height: 30px;
    padding-left: 65px;
  }
}
.field__checked[type=radio]:checked + .field__mark::before,
.field__checked[type=radio]:checked + .field__mark::after {
  background-image: url("../../img/radio-button-active.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 14px;
  height: 14px;
  content: "";
  top: 7px;
  left: 7px;
}
@media (min-width: 768px) {
  .field__checked[type=radio]:checked + .field__mark::before,
  .field__checked[type=radio]:checked + .field__mark::after {
    background-image: url("../../img/radiobutton-active-tablet.svg");
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .form-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 32px;
    column-gap: 12px;
  }
}

@media (min-width: 1440px) {
  .form-list {
    display: flex;
    margin-top: 57px;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }
}
.form-list__mark {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}
.form-list__mark:hover {
  border: 1px solid #bababa;
}
.form-list__mark:disabled {
  border: 1px solid rgba(186, 186, 186, 0.3);
}

@media (min-width: 768px) {
  .form-list__mark {
    width: 40px;
    height: 40px;
  }
}
.form-list__text {
  display: inline-block;
  padding: 6px 0 6px 15px;
  overflow: hidden;
}
.form-list__text:disabled {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .form-list__text {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 5px 20px;
  }
}
.form-list__add {
  position: relative;
}

.form-list__checkbox[type=checkbox]:checked + .form-list__mark::before,
.form-list__checkbox[type=checkbox]:checked + .form-list__mark::after {
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 26px;
  height: 26px;
  content: "";
  left: 2px;
}
@media (min-width: 768px) {
  .form-list__checkbox[type=checkbox]:checked + .form-list__mark::before,
  .form-list__checkbox[type=checkbox]:checked + .form-list__mark::after {
    background-image: url("../../img/icons/tick-tablet.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    left: 8px;
    top: -9px;
  }
}

@media (min-width: 768px) {
  .form-list__item {
    width: 46%;
  }
}
.button {
  border: none;
  background-color: #68b738;
  color: #ffffff;
}

.main-inner {
  margin-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .main-inner {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 65px;
  }
}

@media (min-width: 1440px) {
  .main-inner {
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 87px;
  }
}
.main-inner__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}
@media (min-width: 768px) {
  .main-inner__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .main-inner__title {
    margin-top: 74px;
    margin-bottom: 84px;
  }
}
@media (min-width: 1440px) {
  .catalog__item--substrate {
    width: 20%;
  }
}
@media (min-width: 1440px) {
  .catalog {
    width: 100%;
  }
}
.catalog__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1, 280px);
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }
}

@media (min-width: 1440px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 20.08%);
    gap: 63px 80px;
  }
}
.catalog__item {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-columns: repeat(2, 140px);
  position: relative;
}
.catalog__item::before {
  position: absolute;
  content: "";
  width: 320px;
  border: 1px solid #ebebeb;
  left: -20px;
}

@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 37px 42px 37px;
    margin: 0;
    background-image: linear-gradient(to bottom, transparent 0, transparent 100px, #f2f2f2 100px, #f2f2f2 100%);
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    background-image: linear-gradient(to bottom, transparent 0, transparent 75px, #f2f2f2 75px, #f2f2f2 100%);
    padding: 0 38px 40px 38px;
  }
}
@media (min-width: 768px) {
  .catalog__item::before {
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog__item::before {
    border: none;
  }
}
.catalog__item:not(:first-child) {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .catalog__item:not(:first-child) {
    margin-top: 0;
  }
}

.catalog__image-wrapper {
  padding-top: 30px;
  text-align: center;
}

.catalog__title {
  margin: 0;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  width: 76px;
  margin-bottom: 14px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .catalog__title {
    width: 135px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 22px 55px 20px 55px;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    width: 75%;
    margin: 0 20px 21px 20px;
  }
}

.catalog__description-list {
  display: grid;
  grid-template-columns: repeat(2, 70px);
  margin: 0;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .catalog__description-list {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    font-size: 16px;
    line-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
@media (min-width: 1440px) {
  .catalog__description-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: none;
  }
}

.catalog__description-list--line {
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__description-list--line {
    border-bottom: 1px solid #cdcdcd;
    margin: 0;
    padding-bottom: 1px;
  }
}

.catalog__description-list--value,
.catalog__description-list--name {
  text-align: right;
}

.catalog__button {
  display: inline-block;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.4s;
  width: 280px;
}
.catalog__button:hover {
  background-color: #5eaa2f;
}
.catalog__button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .catalog__button {
    width: 250px;
  }
}
@media (min-width: 1440px) {
  .catalog__button {
    width: 100%;
  }
}
.catalog__add {
  position: relative;
  margin-top: 25px;
}
.catalog__add::before {
  position: absolute;
  content: "";
  width: 320px;
  border: 1px solid #ebebeb;
  left: -20px;
}

@media (min-width: 768px) {
  .catalog__add::before {
    border: none;
  }
}
@media (min-width: 768px) {
  .catalog__add {
    margin: 0;
    border: 2px solid #f2f2f2;
    padding: 50px 37px 40px 37px;
  }
}
.catalog__add-wrapper {
  position: relative;
  padding-top: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__add-wrapper {
    padding-top: 100px;
  }
}

.catalog__add-text {
  margin: 0;
}

.catalog__add-text--product {
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
}
@media (min-width: 768px) {
  .catalog__add-text--product {
    margin: 50px 60px 0 60px;
    width: 134px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .catalog__add-text--product {
    margin: 40px 10px 0 10px;
    width: 90%;
  }
}
.catalog__add-text--taste {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-top: 8px;
}
@media (min-width: 768px) {
  .catalog__add-text--taste {
    width: 170px;
    font-size: 16px;
    line-height: 18px;
    margin: 23px 40px 0 40px;
  }
}
@media (min-width: 1440px) {
  .catalog__add-text--taste {
    margin: 26px 7px 0 7px;
    width: 95%;
  }
}

.catalog__link-wrapper {
  width: 280px;
  padding: 10px 50px;
  background-color: #f2f2f2;
  margin-top: 21px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.catalog__link-wrapper:hover:active {
  background-color: #ebebeb;
}

@media (min-width: 768px) {
  .catalog__link-wrapper {
    display: inline-block;
    width: 250px;
    margin-top: 82px;
    padding: 10px;
  }
}
@media (min-width: 1440px) {
  .catalog__link-wrapper {
    width: 100%;
    margin-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.catalog__button-link {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog__button-link {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }
}

.container-wrapper {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .container-wrapper {
    margin-top: 84px;
  }
}
@media (min-width: 1440px) {
  .container-wrapper {
    margin-top: 0;
  }
}

.container-wrapper__catalog {
  position: relative;
  margin-top: 25px;
}
.container-wrapper__catalog::before {
  width: 54px;
  border: 2px solid #68b738;
  position: absolute;
  content: "";
  top: 40px;
  right: -20px;
}

@media (min-width: 1440px) {
  .container-wrapper__catalog {
    margin-top: 51px;
  }
}
@media (min-width: 768px) {
  .container-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .container-wrapper__catalog::before {
    width: 320px;
    top: 45px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .container-wrapper__catalog::before {
    width: 952px;
    right: -110px;
  }
}
@media (min-width: 768px) {
  .container-wrapper__catalog::after {
    position: absolute;
    content: "";
    width: 30px;
    top: 45px;
    right: 710px;
    border: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .container-wrapper__catalog::after {
    width: 70px;
    right: 1340px;
  }
}
.catalog-additional__title-item {
  margin: 0;
  padding-top: 11px;
  color: #222222;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  grid-column: 1/-1;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .catalog-additional__title-item {
    width: 30%;
    font-size: 20px;
    line-height: 20px;
    padding-top: 0;
    margin-bottom: 25px;
  }
}

@media (min-width: 1440px) {
  .catalog-additional__title-item {
    margin-bottom: 0;
  }
}
.catalog-additional {
  position: relative;
  display: flex;
  flex-direction: column;
}
.catalog-additional::before {
  position: absolute;
  content: "";
  width: 320px;
  border: 1px solid #ebebeb;
  left: -20px;
}

@media (min-width: 768px) {
  .catalog-additional::before {
    border: none;
  }
}
.catalog-additional__list {
  padding: 36px 0 0 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog-additional__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__list {
    display: flex;
    width: 73%;
    margin-right: 0;
  }
}

.catalog-additional__item {
  width: 100%;
  border-top: 1px solid #cdcdcd;
}
.catalog-additional__item:not(:first-child) {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .catalog-additional__item:not(:first-child) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .catalog-additional__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__item {
    display: flex;
    flex-direction: row;
    border-right: none;
    border-left: none;
  }
}
.catalog-additional__item:last-child {
  width: 280px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .catalog-additional__item:last-child {
    width: 100%;
    padding-bottom: 0;
  }
}

.catalog-additional__title {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog-additional__title {
    padding-left: 0;
  }
}

.catalog-additional__options {
  display: inline-block;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 13px 0 15px 0;
  width: 138px;
}
@media (min-width: 768px) {
  .catalog-additional__options {
    width: 50%;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__options {
    text-align: left;
    white-space: nowrap;
  }
}

.catalog-additional__options--value {
  text-align: right;
}
@media (min-width: 768px) {
  .catalog-additional__options--value {
    width: 95px;
  }
}

@media (min-width: 768px) {
  .catalog-additional__options--weight {
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__options--weight {
    text-align: left;
    width: 10%;
  }
}
.catalog-additional__button {
  display: block;
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  text-align: center;
  transition: background-color 0.4s;
}
.catalog-additional__button:hover {
  background-color: #5eaa2f;
}
.catalog-additional__button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .catalog-additional__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__button {
    width: 244px;
  }
}
.catalog-additional__promo {
  background-image: url("../../img/cat-bag-gift.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  margin: 35px 0 35px 0;
  border-top: 1px solid #cdcdcd;
  position: relative;
}
.catalog-additional__promo::before {
  position: absolute;
  content: "";
  background-image: url("../../img/icons/gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  top: 60px;
  left: 100px;
}

@media (min-width: 768px) {
  .catalog-additional__promo {
    background-image: url("../../img/background-cat-tablet.jpeg");
    background-repeat: no-repeat;
    width: 707px;
    height: 200px;
    position: relative;
    margin: 70px 0 75px 0;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__promo {
    background-image: url("../../img/cat-bag-giftdesktop.jpeg");
    width: 256px;
    height: 288px;
    margin: 30px 0 0 80px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__promo::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icons/icon-gift-desktop.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 83px;
    top: 60px;
    left: 90px;
  }
}
.catalog-additional__promo-text {
  color: #ffffff;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding: 187px 61px 43px 58px;
}

@media (min-width: 768px) {
  .catalog-additional__promo-text {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    content: "";
    width: 161px;
    padding: 0;
    text-align: left;
    left: 420px;
    top: 70px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__promo-text {
    text-align: center;
    left: 50px;
    top: 180px;
  }
}
@media (min-width: 768px) {
  .catalog-additional__title-item--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px 28px 38px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__title-item--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0 15px 0;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__list--wrapper {
    display: flex;
    align-items: center;
    margin-top: 44px;
  }
}
.field-selection {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 13px;
}
@media (min-width: 768px) {
  .field-selection {
    padding: 23px 0 27px 27px;
  }
}

.slider-range {
  position: relative;
}

.slider-range__button {
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  content: "";
  top: -25px;
  right: -20px;
  z-index: 1;
}
@media (min-width: 768px) {
  .slider-range__button {
    right: 259px;
  }
}

.slider-range__button-image {
  stroke: #666666;
  fill: #ffffff;
}

.slider-range__button-image:hover {
  stroke: #68b738;
}

.slider-range__button-image:active {
  stroke: #5eaa2f;
}

.slider-range__button-path:hover {
  fill: #68b738;
}

.slider-range__button-path:active {
  fill: #5eaa2f;
}

.catalog-item__button-wrapper {
  width: 100%;
  margin-top: 17px;
}
/*# sourceMappingURL=style.css.map */